body {
  margin: 0px;
  padding: 0px;
  background-color: #d9d9d9;
  font-family: 'Slabo 27px', serif;
}
a {
  color: #4dd2ff;
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}

a.textlinks {
  color: #0000ff;
  text-decoration: none;
}
a:active {
  text-decoration: underline;
}

.coverImage {
  background-image: url('../images/cover.jpg');
  background-attachment: fixed;
  margin-top: -45px;
  width: 100%;
  height: 110vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.coverTitle {
  text-align: center;
  padding-top: 20%;
  color: #eee;
  font-size: 40pt;
  letter-spacing: 3px;
}
.coverCaption {
  text-align: center;
  color: #eee;
  font-size: 25px;
  letter-spacing: 3px;
}
#container {
  width: 100%;
  height: 60px;
  background-color: #2e3d49;
  position: fixed;
  top: -60px;
  transition: top 0.3s;
}
.topBar {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 0px;
  padding-top: 20px;
}
.topBar li  {
  margin: 0 50px;
  color: #eee;
  font-size: 20px;
}

.topBar a:hover{
  color: #ff0055;
}

.introTitle {
  color: #2e3d49;
  font-size: 35px;
  padding: 30px;
}
.introDetails {
  margin: 0 auto;
  width: 80%;
  height: auto;
  padding-bottom: 5%;
  color: #595959;
  line-height: 30px;
  font-size: 14pt;
}
#concept {
  height: 130vh;
  background-image: url('../images/cover.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.conceptTitle {
  color: #eee;
  font-size: 35px;
  padding: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
#conceptContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.conceptDivs {
  margin: 3%;
  width: 350px;
  height: auto;
  color: #b3003b;
  background-color: #d9d9d9;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  box-shadow: 2px 3px #d9d9d9;
}
.conceptDivs h3 {
  text-align: center;
  text-decoration:
}
.conceptDivs hr {
  width: 70%;
  height: 2px;
  background-color: #4dd2ff;
  border: none;
}
.conceptDivs ul li {
  padding: 10px;
  color:  #595959;
}
#visualization {
  height: auto;
}
.visualTitle {
  color: #2e3d49;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  padding: 60px;
  padding-bottom: 0px;
  width: 600px;
}

#legendContainer{
  display: flex;
  flex-direction: row;
  margin-top: -15px;
}

/*
#definitions{

margin-left: 100px;
margin-top: 5%;
font-size: 14px;
}
*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #e6faff;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 5px 20px 20px 30px;
  border: 1px solid #888;
  border-radius: 10px;
  line-height: 25px;
  width: 40%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.legend {
  /* background-color: red; */
  /* width: 500px;
  height: 130px; */
  /* margin-left: 120px; */
  margin-top: 5%;
}

.legendText {
  font: 11px sans-serif;
  font-weight: bold;
}

#mapContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  pointer-events: all;
}

.map {
  margin-left: -80px;
  margin-top: -10px;
}

.bar_chart {
  margin-top: 20px;
  margin-left: -95px;
  pointer-events: all;
}

.dropdownlabel {
  font-family: arial, 'Times New Roman', serif;
  font-size: 10pt;
  margin-left: 70px;
}

.dropdown {
  margin-bottom: 10px;
  margin-top: -40px;
}

.state_reset {
  display: none;
  background-color: #0073e6;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 3px 8px;
  margin-left: 5px;
}

.county_reset {
  display: none;
  background-color: #0073e6;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 3px 8px;
  margin-left: 5px;
}

.poll_reset {
  display: none;
  background-color: #0073e6;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 3px 8px;
  margin-left: 5px;
}

#about {
  background-image: url('../images/cover.jpg');
  background-attachment: fixed;
  width: 100%;
  height: 120vh;
  background-repeat: no-repeat;
  background-size: cover;
}
.aboutTitle {
  color: #eee;
  font-size: 35px;
  padding: 60px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.aboutContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.aboutDetails {
  width: 300px;
  height: auto;
  margin: 2%;
  background-color: #d9d9d9;
  color: #b3003b;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
}
.aboutDetails h3 {
  text-align: center;
}
.aboutDetails hr {
  width: 70%;
  height: 2px;
  background-color: #4dd2ff;
  border: none;
}
.aboutDetails ul li {
  padding: 15px;
  color: black;
}
.aboutDetails p {
  padding: 15px;
  line-height: 25px;
  color: black;
  text-align: center;
}
#footer {
  width: 100%;
  height: 8vh;
  background-color: #2e3d49;
  margin-top: -20px;
}
#footer p {
  text-align: center;
  color: gray;
  padding-top: 10px;
  font-size: 12pt;
}

.background {
    fill: none;
    pointer-events: all;
}

#states :hover{
    fill: #b3f0ff;
    cursor: pointer;
}

#counties :hover{
    fill: #b3f0ff;
    cursor: pointer;
 }

 .selected {
   fill: #b3f0ff;
 }

.focus text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  font-weight: bold;
}

.focus {
  cursor: pointer;
}

/* .focus .mainBars :hover{
  fill: red;
} */

.county-boundary {
    fill: #aaa;
    stroke: #fff;
    stroke-width: .5px;
}

.chartTitle {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
}

.tooltip {
  position: absolute;
  padding: 7px;
  font-size: 0.9em;
  pointer-events: none;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;

  -moz-box-shadow:    3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow:         3px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

.tooltip p {
  margin: 0;
  padding: 0;
}

.tooltip table {
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

@media only screen and (min-width: 751px) and (max-width: 1200px) {
  .dropdown {
    margin-top: 0;
  }
}

@media only screen and (max-width: 750px) {
  body {
    width: 100%;
  }
  .topBar li {
    margin: 0 3%;
    font-size: 12pt;
  }
  .coverImage {
    height: 85vh;
  }
  .coverTitle {
    font-size: 30px;
    padding: 220px 10px 10px 10px;
  }
  .coverCaption {
    font-size: 18px;
  }
  #concept {
    height: auto;
  }
  #conceptContainer {
    flex-direction: column;
    justify-content: center;
    margin: 3%;
  }
  .conceptDivs {
    width: 300px;
    margin: 3% auto;
  }
  #visualization {
    height: auto;
  }
  #legendContainer{
    flex-direction: column;
    justify-content: center;
  }
  #mapContainer {
    flex-wrap: wrap;
    justify-content: center;
  }
  .dropdown {
    width: 80%;
    margin-top: 0;
  }
  #about {
    height:auto;
  }
  .aboutContainer {
    flex-direction: column;
    justify-content: center;
    margin: 3%;
  }
  .aboutDetails {
    margin: 3% auto;
  }
}
